@import '_reset';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/**
* Variables
*/

// Colors
$darkCyan: hsl(185, 75%, 39%);
$darkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);

// Font
$fontSize: 18px;
$fontFamily: 'Kumbh Sans', sans-serif;

/**
* Base
*/

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $darkDesaturatedBlue;
}

.background {
  background-color: $darkCyan;
  background-image: url('/images/bg-pattern-top.svg'),
    url('/images/bg-pattern-bottom.svg');
  background-size: 120%, 120%;
  background-repeat: no-repeat, no-repeat;
  background-position: top -209px left -240px, bottom -140px right -250px;
}

.container {
  margin: 1.5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-image: url('/images/bg-pattern-card.svg');
  background-size: 123% contain;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  background-color: white;
  height: 20rem;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  &-white-circle {
    position: relative;
    width: 110px;
    height: 110px;
    background: white;
    border-radius: 50%;
    justify-self: center;
    top: 66px;
  }
  &-info {
    padding-top: 4.2rem;
    grid-row-start: 2;
  }
  &-stats {
    display: flex;
    justify-content: space-around;
    grid-row-start: 3;
    margin: 0 1rem;
    &-span {
      font-size: 10px;
      letter-spacing: 1.5px;
      color: #6b7082;
      font-weight: 400;
    }
  }
  &-stats > * {
    display: inline-block;
  }
}

h1 {
  font-size: $fontSize;
  font-weight: bold;
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;
  color: #2e3349;
}

h2 {
  font-size: 14px;
  color: #6b7082;
  padding-top: 0.8rem;
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;
}

h3 {
  font-weight: bold;
  grid-row-start: 3;
  color: #2e3349;
}

img {
  border-radius: 100%;
  margin: 1rem auto;
  position: absolute;
  position: relative;
  top: -9px;
  left: 7px;
}

section {
  display: flex;
  max-width: 349px;
  width: 100%;
}

#followers {
  grid-column-start: 1;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#likes {
  grid-column-start: 2;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding-right: 1rem;
}
#photos {
  grid-column-start: 3;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#age {
  font-weight: 400;
  color: #6b7082;
}

/**
* FEM
*/

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
